$full: 1400px;
$large: 1080px;
$tablette: 1024px;
$mobile: 768px;
$oldMobile: 568px;

$white:#FFF;
$black:#222;
//$light-gray : #f6f6f6;
$light-gray : #eeeeee;
$medium-gray : #777;
$dark-gray: #333;

$cream : #f9f4d9;
$brown : #d3523b;
